vorm v/d foto's
#ody img{
    height:100%;
    width:100%; 
}

#ody a{
    padding:0;
    margin:0;
    position:relative;
    display:inline-block;
}

#ody li{
    width:16.66%; 
    padding-left:40px; 
}

/* style van like en comment icoontje */
#ody .instagrid-z{
    width:100%;
    height:100%;
    margin-top:-100%;
    opacity:0;
    letter-spacing:1px;
    background:rgba(0,0,0,0.7);
    position:absolute;
    font:normal 600 12px Catamaran, sans-serif;color:#ffffff;
    line-height:normal
}
#ody a:hover .instagrid-z{
    opacity:1;
    zoom:1;
    filter:alpha(opacity=100)}
.instagrids{
    display:table;
    vertical-align:middle;
    height:100%;width:100%
}

.instagrid-outter{
    display:table-cell;
    vertical-align:middle;
    height:100%;width:100%;
    text-align:center;
}


body {
        background: lightgrey url("ronnie5.jpg");
        background-repeat: no-repeat;
        background-position: right center;
        width: 500px;
        background-attachment: fixed;
    }
    